.pulsiranjeDesno {
  position: absolute;
  top: -15px;
  background-color: transparent;
  left: -5px;
  height: 20px;
  width: 20px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulsiranjeDesno;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: pulsiranjeDesno;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: pulsiranjeDesno;
  animation-duration: 2s;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@-webkit-keyframes pulsiranjeDesno {
  from {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
  }
}
@-moz-keyframes pulsiranjeDesno {
  from {
    -moz-transform: scale(1);
  }
  to {
    -moz-transform: scale(1.2);
  }
}
@keyframes pulsiranjeDesno {
  from {
    transform: translateX(0%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0%) scale(1.2);
    opacity: 0.3;
  }
}

/* Lijevo */
.pulsiranjeLijevo {
  position: absolute;
  top: -15px;
  left: 5px;
  height: 20px;
  width: 20px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: pulsiranjeLijevo;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: pulsiranjeLijevo;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: pulsiranjeLijevo;
  animation-duration: 2s;
  animation-iteration-count: 10;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes pulsiranjeLijevo {
  from {
    transform: translateX(0%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translateX(0%) scale(1.2);
    opacity: 0.3;
  }
}

/* Strelica desno */
.strelica-desno {
  position: absolute;
  top: -7px;
  right: 10px;
  border-radius: 50%;
  color: black;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 2s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 2s;
  -webkit-animation-name: strelica-desno;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: strelica-desno;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: strelica-desno;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes strelica-desno {
  from {
    transform: translateX(0%) scale(2);
    opacity: 1;
  }
  to {
    transform: translateX(0%) scale(1);
    opacity: 0;
  }
}

/* Strelica lijevo */
.strelica-lijevo {
  position: absolute;
  top: -7px;
  left: 10px;
  border-radius: 50%;
  rotate: 180deg;
  color: black;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation-name: strelica-lijevo;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: strelica-lijevo;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  transition-property: -moz-transform;
  transition-duration: 1s;
  animation-name: strelica-lijevo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes strelica-lijevo {
  from {
    transform: translateX(0%) scale(2);
    opacity: 1;
  }
  to {
    transform: translateX(0%) scale(1);
    opacity: 0;
  }
}
